.form-container{
    padding: 32px;
    background-color: #fff;
    max-width: 1000px;
}
 h1{
    text-align: center;
    color: green;
}
.form-container h4 {
    background-color: green;
    color: #fff;
    width: 100%;
}
.form-row{
    padding: 6px 0;
    display: flex;
}
.form-lable{
    min-width: 170px;
    color: green;
}
.form-input{
    flex: 2;
}
.btn{
margin-left:170px ;
}
.flex-container{
display:flex;}

 .carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 200px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.navbar-nav a {
	/* font-family: poppins; */
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}

.navbar{
    background: black;
    opacity: 0.85;
}
.nav-link {
	padding: 0.2rem 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding:0rem 1rem;
}

.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}

.nav-item{
  padding:0rem 2rem;
}

.navbar-brand img{
    width: 80px;
    border-radius: 50%;
}


.icon img{
    width:20px ;
    height: 20px;
}

.links h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
.h2{
	font-size:40px;
}

footer{
  background: black;
  opacity: 0.85;
  color: whitesmoke;
  
}

hr{
  background: white;
}

.copyright{
  text-align: center;
  padding: 1rem 0rem;
}

.footer-1{
  
  display: flex;
  
  align-items: center;
  padding: 2rem 0rem;
  flex-wrap: wrap;
}

footer ul  {
  display: flex;  
  flex: 1 1 20rem;
  list-style: none;
  align-items: center;
  justify-content:space-around ;
}



footer h4 {
  flex: 1 1 20rem;
  font-size: calc(1.0rem + 1vw);
  font-family: poppins;
  padding-left: 4rem;
}



